.footer{
    width: 100%;
    // border: 1px solid red;
   margin-top: 4%;
   background-color: rgba(#2c313f, 0.9);
   z-index: 99998;
//    position: absolute;
bottom: 0%;
p{
    span{
        color: blue;
        // background-color: red;
    }
}
}