.container1 {
    // margin-top: 1%;
    display: flex;
    // margin: 0 auto;
    // margin: 1% 0% 1% ;
    // border: 1px solid red;
    // padding-top: 10px;
    // padding-bottom: 10px;

    .weaponContent:hover {
        border: 1px solid #52555f;
        background-color: rgba(#2c313f, 0.9);
    }
    .weaponContent {
        text-align: left;
        // padding-top: 1%;
        // border: 1px solid red;

        background-color: rgba(#2c313f, 0.5);
        border-radius: 7px;
        font-size: 18px;
        // width: 80%;
        // margin: auto;
        // position: relative;

        // display: flex   ;
        // justify-content: space-between;
        .backImage {
            border-radius: 7px;
            // border: 1px solid red;
            // float: left;
            // position: relative;
            // position: absolute;
            // width: 200px;
            // height: 200px;
            // height: 40%;
            background-repeat: no-repeat;
            background-size: cover; /* Lấp đầy kích thước của div */
            background-position: center center; /* Đặt ảnh vào giữa div */
            img {
                width: 100%;
                // height: 80%;
            }
            .contentStar {
                position: absolute;
                bottom: 0%;
                left: 0%;
                //   border: 1px solid red;
                width: 100%;
                text-align: center;
                background-color: rgba(#2c313f, 0.7);
                .star {
                    // padding-left: -45px;
                    font-size: 28px;
                    line-height: 1;
                    display: inline-block;
                    // border:1px solid #ffffff;
                    color: yellow;
                    // margin-left: -10px;
                    text-shadow: 1px 1px #fff30e;
                }

                .star:before {
                    content: "★";
                }
            }
        }

        .textContent {
            // border: 1px solid red;
            // width: 78%;
            // float: right;
            // top: -10%;
            // margin-top: 1%;
            // margin-right: 2%;
            h3 {
                margin: 0;
            }
        }
    }
}
