.list-user-container{
    .list-user-content{
        .child{
            width: 400px;
            margin: 0 auto;
            border: 1px solid gray;
            text-align: left;
            // height: 40px;
            img{
                height: 10%;
                width: 10%;
                margin: 10px 10px 0px 10px;
            }
        }
    }

}

