.containerBaseStats {
    margin-top: 5%;
    width: 100%;

    // border: 1px solid yellow;
    h2 {
        z-index: 9999;
        text-align: left;
        margin-left: 5%;
        // margin: 0;
    }
    .content {
        width: 90%;
        background-color: rgba(#2c313f, 1);
        z-index: 10000000;
        border-radius: 10px;
        // border: 1px solid yellow;
        margin: 0 auto;
        margin-bottom: 2%;

        .statBase {
            width: 100%;
            color: #9ca3af;

            border-radius: 10px;
            // font-size: 20px;

            .routeStat {
                padding-top: 1%;
                padding-bottom: 1%;
                align-items: center;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                font-size: 15px;

                .myObject.selected {
                    background-color: rgba(#7d8084, 0.5);
                }
                .items-stat {
                    // z-index: 10000000;
                    // width: 7%;
                    // height: 4%;/
                    border-radius: 3px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    // margin-left: 1%;
                    // margin-right: 1%;
                    background-color: rgba(#7d8084, 0.2);
                }
            }
            .statDetail {
                background-color: rgba(#2c313f, 1);
                // border: 1px solid yellow;

                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                // background-color: blue;
                // padding-top: 15px;
                z-index: 10000000;
                width: 96%;
                margin: 0 auto;
                padding-bottom: 2%;
                margin-top: 2%;
                span {
                    background-color: rgba(#7d8084, 0.2);
                    padding: 10px 20px 10px;
                    // border-bottom: 1px solid #9ca3af;
                    text-align: left;
                }
                .nameStat {
                    background-color: rgba(#1a1a1d, 0.3);

                    padding: 10px 20px 10px;
                    border-bottom: 1px solid rgba(#9ca3af, 0.4);
                    text-align: left;
                }
                .beforeStat {
                    background-color: rgba(#1a1a1d, 0.3);

                    padding: 10px 20px 10px;
                    border-bottom: 1px solid rgba(#9ca3af, 0.4);
                    text-align: left;
                }
                .affterStat {
                    background-color: rgba(#1a1a1d, 0.3);

                    padding: 10px 20px 10px;
                    border-bottom: 1px solid rgba(#9ca3af, 0.4);
                    text-align: left;
                }
            }
            // .statDetail:nth-child(odd){
            //     border-bottom:1px solid red  ;

            // }
        }
    }
}

.container {
    color: #9ca3af;
    width: 90%;
    // border: 1px solid red;
    border-radius: 8px;
    z-index: 99999;
    //  .content > div {
    //     // background-color: rgba(255, 255, 255, 0.8);
    //     text-align: center;
    //     padding: 20px 0;
    //     font-size: 30px;
    //   }
    .tailentContainer {
        .materialTotal {
            // border: 1px solid yellow;
            background-color: rgba(35, 39, 52, 1);
            min-height: 80px;
            // display: flex;

            // justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            // div{
            // display: grid;
            // grid-template-columns: repeat(11, minmax(0, 1fr));

            // // grid-template-rows: repeat(5,minmax 1fr);
            // width: 100%;
            // justify-content: space-between;
            // }
            // .viewsTotal {
            //     // background-color: red;
            //     font-size: 18px;
            //     // border: 1px solid red;
            //     // width: 100%;
            //     position: relative;
            //     flex-wrap: wrap;
            //     img {
            //         width: 90%;
            //     }
            //     span {
            //         position: absolute;
            //         width: 100%;
            //         left: 0%;
            //         bottom: 0%;
            //     }
            // }
        }
    }
    .content {
        width: 100%;
        margin: 0 auto;

        .materialTotal {
            // border: 1px solid yellow;
            background-color: rgba(35, 39, 52, 1);
            min-height: 80px;
            // display: flex;

            // justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            // div{
            // display: grid;
            // grid-template-columns: repeat(11, minmax(0, 1fr));

            // // grid-template-rows: repeat(5,minmax 1fr);
            // width: 100%;
            // justify-content: space-between;
            // }
            .viewsTotal {
                //char
                // background-color: red;
                font-size: 18px;
                // border: 1px solid red;
                // width: 100%;
                position: relative;
                flex-wrap: wrap;
                img {
                    width: 90%;
                }
                span {
                    position: absolute;
                    width: 100%;
                    left: 0%;
                    bottom: 0%;
                }
            }
        }
        .list:nth-child(even) {
            background-color: rgba(35, 39, 52, 1);
        }
        .list {
            width: 100%;
            background-color: rgba(#2c313f, 1);
            display: grid;
            align-items: center;
            height: auto;
            grid-template-columns: repeat(10, minmax(0, 1fr));

            grid-template-rows: repeat(5, minmax 1fr);

            gap: 5px;
            // border: 1px solid yellow;
            width: 100%;
            .asencionMaterial {
                // border: 1px solid yellow;
                // border: 1px solid rgba(0, 0, 0, 0.8);
                // padding-left: 10px;
                font-size: 18px;
                // min-height: 70px;
                text-align: center;
                // text-align: none;
                display: flex;
                align-items: center;
                justify-content: center;
                // text-align: center;
                // margin-left: 5%;
                // grid-column: auto;
                // grid-row: auto;
                // .imgContainer{
                //     // margin-left: 5%;
                //     width: 100%;
                //     // border: 1px solid red;
                //     position: relative;
                //     display: flex;
                //     // justify-content: space-around;
                //     img{
                //         width: 50%;
                //         // height: 80%;
                //     }
                //     span{
                //         position: absolute;
                //         bottom: 0%;
                //         left: 0%;
                //         width: 100%;
                //     }
                // }
                .imgContainer {
                    width: 70px;
                    position: relative;
                    // border: 1px solid red;
                    img {
                        width: 100%;
                        // height: 80%;
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        left: 0%;
                        bottom: 0%;
                    }
                }

                // span{
                //     position: absolute;
                //     bottom: 0%;
                //     left: 0%;
                //     width: 100%;
                // }
            }
        }

        .asencionMaterial:nth-child(3) {
            // grid-row: 1/ span 2;
            grid-column: 3 / span 2;
        }
        .asencionMaterial:nth-child(4) {
            grid-row: 1;
            grid-column: 5 / span 2;
        }
        .asencionMaterial:nth-child(5) {
            grid-row: 1;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(6) {
            grid-row: 1;
            grid-column: 9 / span 2;
        }
        .asencionMaterial:nth-child(9) {
            grid-row: 2;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(10) {
            grid-row: 2;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(11) {
            grid-row: 2;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(12) {
            grid-row: 2;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }

        .asencionMaterial:nth-child(15) {
            grid-row: 3;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(16) {
            grid-row: 3;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(17) {
            grid-row: 3;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(18) {
            grid-row: 3;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(21) {
            grid-row: 4;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(22) {
            grid-row: 4;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(23) {
            grid-row: 4;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(24) {
            grid-row: 4;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(27) {
            grid-row: 5;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(28) {
            grid-row: 5;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(29) {
            grid-row: 5;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(30) {
            grid-row: 5;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(33) {
            grid-row: 6;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(34) {
            grid-row: 6;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(35) {
            grid-row: 6;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(36) {
            grid-row: 6;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(39) {
            grid-row: 7;
            grid-column: 3 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(40) {
            grid-row: 7;
            grid-column: 5 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(41) {
            grid-row: 7;
            grid-column: 7 / span 2;
            // background-color: yellow;
        }
        .asencionMaterial:nth-child(42) {
            grid-row: 7;
            grid-column: 9 / span 2;
            // background-color: yellow;
        }
    }
}

.tailentContainer {
    width: 90%;
    margin: 0 auto;

    .materialTotal {
        // border: 1px solid yellow;
        // background-color: rgba(35,39,52,1);
        background-color: rgba(#2c313f, 1);

        min-height: 80px;
        // display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        // div{
        // display: grid;
        // grid-template-columns: repeat(11, minmax(0, 1fr));

        // grid-template-rows: repeat(5,minmax 1fr);
        width: 100%;
        // justify-content: space-between;
        // }
        .viewsTotal {
            //talent
            font-size: 18px;
            // border: 1px solid red;
            // width: 100%;
            position: relative;
            img {
                width: 80%;
            }
            span {
                position: absolute;
                width: 100%;
                left: 0%;
                bottom: 0%;
            }
        }
    }
    .talentContent {
        color: #9ca3af;
        font-size: 20px;

        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        background-color: rgba(#2c313f, 1);

        .childContent {
            // min-height: 100px;
            // background-color: yellow;
            // border: 1px solid yellow;
            display: flex;
            align-items: center;
            // text-align: center;
            justify-content: center;
            .imgtalent {
                // border: 1px solid  red;
                display: flex;
                align-items: center;
                text-align: left;
                .imgMora {
                    position: relative;
                    // border: 1px solid red;
                    // img {
                    //     width: 70px;
                    // }
                    span {
                        position: absolute;
                        // border: 1px solid red;
                        text-align: center;

                        left: 0%;
                        width: 100%;
                        bottom: 0%;
                    }
                }
                .img {
                    // border: 1px solid yellow;

                    width: 70px;
                    position: relative;
                    // padding-left: 5px;
                    img {
                        width: 100%;
                    }
                    span {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        left: 0%;
                        bottom: 0%;
                    }
                }
            }
        }
        // .talentContent:nth-child(1){
        //     background-color: red;
        // }
        .childContent:nth-child(3) {
            grid-column: 3 / span 2;
        }
        .childContent:nth-child(4) {
            grid-column: 5 / span 2;
        }
        .childContent:nth-child(5) {
            grid-column: 7 / span 2;
        }
        .childContent:nth-child(6) {
            grid-column: 9 / span 2;
        }
        .childContent:nth-child(11) {
            grid-row: 2;
            grid-column: 3 / span 2;
        }
        .childContent:nth-child(12) {
            grid-row: 2;

            grid-column: 5 / span 2;
        }
    }
    .talentContent:nth-child(odd) {
        background-color: rgba(35, 39, 52, 1);
    }
}
