.materialAll {
  width: 100%;
  z-index: 100000;
}
h1 {
  font-size: 1.75rem !important;
}
h2 {
  font-size: 1.55rem !important;
}

.char_back {
  position: fixed;
  z-index: 0;
  // opacity: 0.7;
  // width: 80%;
  // height: 80%;
  // z-index: 0;
  // opacity: 0.9;
  /* border:  1px solid red; */
  top: 0%;
  // left: 10%;
}
.pf-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .desc {
    z-index: 100;
    h1 {
      color: white;
      text-align: left;

      padding-left: 5px;
    }
  }
  .avarta {
    border-radius: 100%;
    // position: absolute;

    z-index: 100;
    width: 100%;
    border: 2px solid #292f41;
    background-color: #2a2d36;
  }
}
.pf {
  z-index: 1000;
  // margin-left: -80%;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  // top: 10%;
  // left: 5%;
  // left: -560px;
  // border: 1px solid red;
  // color: white;
  .avarta {
    border-radius: 100%;
    // position: absolute;
    // height: 200px;
    z-index: 100;
    // width: 80%;
    border: 2px solid #292f41;
    background-color: #2a2d36;
  }
  .description {
    // position: absolute;
    // top: 10%;
    // left: 17%;
    text-align: left;
    h1 {
      margin: 0;
    }
  }
}

.charRacterContent {
  // position: absolute;
  // top: 35%;
  width: 90%;
  //  border: 1px solid red;
  text-align: left;
  z-index: 1000;
  .con {
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    flex-wrap: wrap;
    color: white;
    span {
      color: white;
      font-size: 24px;
      text-shadow: 0 2px 4px var(--tw-shadow-color);
      z-index: 1000;
    }
    p {
      font-size: 16px;
    }

    .skill {
      margin-top: 15px;
      background-color: rgba(#232734, 0.9);
      border: 1px solid rgb(75, 75, 75);
      height: 30%;
      // width: 95%;
      /* opacity: 0.7; */
      /* color: black; */
      text-align: center;
      /* padding: 20px; */
      padding-top: 10px;

      border-radius: 10px;

      position: relative;
      p {
        color: #9ca3af;
      }
      // opacity: 0.7;
      // background-color: rgba(255, 255, 255, 0.7);

      .baseContent {
        opacity: 1;
        // position: relative;
        //  border: 1px solid red;
        height: inherit;
        //  margin: 0;
        text-align: center;
        span {
          z-index: 1000;
          // padding-top: 20px;
          margin-top: 20px;
          font-size: 25px;

          position: absolute;
          // padding-top: 100px;
          top: 20px;
          left: 10%;
          right: 10%;
        }
      }
      .iconSkill {
        // border: 1px solid red;
        margin: 120px 0% 0%;

        img {
          height: 20%;
          width: 20%;
          opacity: 0.6;
        }
      }
      .nameSkill {
        z-index: 100;
      }

      p {
        text-align: left;
        margin: 5% 5% 5% 5%;
        opacity: 0.9;
        z-index: 1000;
      }
    }
    .passive {
      background-color: rgba(#232734, 0.9);
      border: 1px solid rgb(75, 75, 75);
      height: 50%;
      // width: 30%;
      /* opacity: 0.7; */
      /* color: black; */
      text-align: center;
      /* padding: 20px; */
      padding-top: 10px;
      p {
        color: #9ca3af;
      }
      // border-radius: 5%;
      border-radius: 10px;
      position: relative;

      // opacity: 0.7;
      img {
        position: absolute;
        // height: 20%;
        // width: 20%;
        top: 5%;
        left: 40%;
        width: 15%;
        z-index: 1;
        // background-color: rgba(#232734,0.1);
        opacity: 0.6;
      }
      .img {
        background-repeat: no-repeat;
        border: 1px solid red;
        background-position: center;
        height: 40px;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        img {
          width: 10%;
        }
      }
      span {
        margin: 10% 0% 0% 0%;
        // position: relative;
        z-index: 10080;
        color: white;
      }
      p {
        text-align: left;
        margin: 5% 5% 5% 5%;
        z-index: 1000;
      }
    }
    .star {
      margin-top: 15px;
      background-color: rgba(#232734, 0.9);
      border: 1px solid rgb(75, 75, 75);
      height: 50%;
      width: 30%;
      // opacity: 0.9;
      /* color: black; */
      text-align: center;
      /* padding: 20px; */
      padding-top: 10px;

      border-radius: 10px;
      position: relative;
      p {
        color: #9ca3af;
      }
      // opacity: 0.7;
      img {
        position: absolute;
        // height: 20%;
        // width: 20%;
        top: 5%;
        left: 40%;
        width: 15%;

        opacity: 0.6;
      }
      span {
        margin: 10% 0% 0% 0%;
      }
      p {
        text-align: left;
        margin: 5% 5% 5% 5%;
      }
    }
  }
}
// }
